img.bell
{
	position:absolute;
	top:10px;
	right:52px;
	height:32px;
	width:32px;
}
img.apps
{
	position:absolute;
	top:10px;
	right:89px;
	height:30px;
	width:30px;
}
img.account
{
	position:absolute;
	top:10px;
	right:10px;
	height:32px;
	width:32px;
}
img.logo
{
	
	height:220px;
	width:550px;
	margin-top:45px;
	padding-top:112px;
	padding-left:600px;
}
a.images
{
	position:absolute;
	top:15px;
	right:129px;
	text-decoration:none;
}
a.images:hover{
	text-decoration:underline;
}
a.gmail
{
	position:absolute;
	top:15px;
	right:189px;
	text-decoration:none;
}
a.gmail:hover
{
	text-decoration:underline;
}
input.search
{
	position:absolute;
	top:400px;
	left:550px;
	width:664px;
	height:44px;
	font-size:15px;
}
img.speaker
{
	position:absolute;
	top:410px;
	left:1180px;
}
div.container
{
	position:relative;
	width: 65%;
	max-width: 810px; 
	margin: 75px auto;
	
}
.recent 
{
	position:relative; 
    display:inline-block;
    max-width:160px;
    margin: 0px 2px;
}

