
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc
{
width:100%;
height:100%;
opacity:1;
top:0;
left:0;
display:none;
position:fixed;
background-color:white;
overflow:auto
}
img#close
{
position:absolute;
right:0px;
top:0px;
height:20px;
width:20px;
cursor:pointer;
border-radius:50%;
}
div#popupContact
{
    left:50%;
top:20%;
margin-left:700px;
margin-top:300px;
    max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid black;
border-radius:10px;
font-family:cursive;
background-color:white
}
h2 
{
background-color:white;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr 
{
margin:10px -50px;
border-top:1px solid gray
}
#name 
{
text-decoration:none;
width:100%;
text-align:left;
display:block;
background-color:white;
color:black;
border:1px solid black;
padding:10px 0;
font-size:15px;
cursor:pointer;
}
#phoneno 
{
text-decoration:none;
width:100%;
text-align:left;
margin:5px 0px;
display:block;
background-color:white;
color:black;
border:1px solid black;
padding:10px 0;
font-size:15px;
cursor:pointer;
}
button#submit 
{
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#804D15;
color:black;
border:1px solid black;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
#success
{
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#aa6b39;
color:black;
border:1px solid black;
font-size:20px;
border-radius:5px;
display:none;
}
#failed
{
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#aa6b39;
color:black;
border:1px solid black;
font-size:20px;
border-radius:5px;
display:none;
}
button#popup
{
width:10%;
height:45px;
border-radius:3px;
background-color:#804415;
color:black;
font-family:cursive;
font-size:18px;
cursor:pointer
}
h1
{
background-color:#D4A26A;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}